@using Microsoft.AspNetCore.Components
@using ModUlar.services
@inject SettingModifierService Modifier

<div class="setting-card">
    <div class="setting-card-header">
        <span class="setting-title">@Setting.Name</span>
        <input type="checkbox" checked="@Setting.Activo" @onchange="HandleSettingChange" />
    </div>
    <div class="setting-card-desc">
        @Setting.Description
    </div>
</div>

@code {
    private void HandleSettingChange(ChangeEventArgs e)
    {
        Setting.Activo = (bool)e.Value;
        Modifier.ModifySetting(Setting, ModFolder);
    }
}