<div class="setting-card">
    <div class="setting-card-header">
        <span class="setting-title">@Setting.Name</span>
        <input type="checkbox" @bind="Setting.Activo" />
    </div>
    <div class="setting-card-desc">
        @Setting.Description
    </div>
</div>