@using PacoYakuzaMAUI.services
<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-group">
            <div class="top-row ps-3 navbar navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">Mods : @ModService.GetMods().Count</a>
                </div>
            </div>
            @foreach (var mod in ModService.GetMods())
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link mod-link" href="@($"/mod/{Uri.EscapeDataString(mod.Name)}")" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 
                        <span class="mod-name">@mod.Name</span>
                    </NavLink>
                </div>
            }
        </div>
    </nav>
</div>