.settings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: start;
}

.settings-grid-item {
    
}

.settings-grid-item.span-two {
    grid-column: 1 / span 2;
}

@media (max-width: 640.98px) {
    .settings-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .settings-grid-item.span-two {
        grid-column: 1;
    }
}